.git
.github
.turbo
.expo
.expo-shared
.yarn/*
!.yarn/patches/
!.yarn/patches/**
node_modules
**/node_modules
**/.docusaurus
**/.turbo
**/build
**/dist
**/lib
**/coverage
**/android/.gradle
**/android/.cxx
**/android/build
**/ios/Pods
**/ios/build
*.log
.DS_Store
