:8080 {
  encode zstd gzip

  root * /usr/share/caddy

  @linkedin path /li
  redir @linkedin /?utm_source=linkedin&utm_medium=social&utm_campaign=beta_launch 302

  @assets path /assets/*
  header @assets Cache-Control "public, max-age=31536000, immutable"

  try_files {path} {path}.html {path}/
  file_server
}
